.img-carousel>img {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background-size: cover;
}
body {
    margin: 0;
height: 100%;
}

.navbar-brand {
    margin-left: 10px;
    margin-top: -7px;
}

.navbar-toggler {
    margin-right: 10px;
}

#btn-previous {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

#btn-previous>h4 {
    margin-right: 4px;
    margin-top: 2px;
}

#btn-next {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

#btn-next>h4 {
    margin-left: 4px;
    margin-top: 2px;
}

.btn-success {
    box-shadow: 5px 5px 5px black;
}

header {
    height: 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    background-position: center;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.previous {
    margin-right:  5px;
}

.next {
 margin-left: 5px;
}

.infos {
    margin-top: 10px;
}
.menu {
    width: 100%;
}

.links {
    width: 100%;
    margin-bottom: 10px;
}

.navbar {
    height: 100px;
}

.HeaderOne4all {
    height: 1100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel {
    width: 100%;
    max-width: 100%;
    padding: 5px;
}

.fleurs{
    height: 800px;
}

.fleurs img {
    min-height: 100%;
}

.img-ghandi {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1100px;
}

.text-vebole {
    margin-left: 10%;
}

.constat-title {
    position: absolute;
    margin-left: -17px;
    margin-top: -10px;
}

.constat-title>img {
    width: 50%;
}

.constat-texte {
    margin-left: 10px;
}

.more-soutien {
    margin-right: 10px;
}

.reseau-text-img>div>img {
    width: 300px;
    height: 400px;
}

#histoire {
    padding: 20px;
}

#soutien {
    padding: 20px;
}

.img-pastille {
    margin-right: 20px;
}

.btn-events {
    margin-bottom: 10px;
}

footer {
    height: 100%;
    width: 100%;
}

.icons> a {
    padding: 10px;
}

.split {
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(to left, white 1%, black 50%, white 100%) 
                  100% 0 100% 0/3px 0 3px 0 stretch;
    
    line-height: 50px;
    background-color: #222;
    color: white;
    text-align: center;  
  }

/* ANCRE */
.gotop {
    position: fixed;
    z-index: 200;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    border: 1px solid black;
}

.gotop>i {
    margin-left: 28px;
    margin-top: 25px;
    color: gray;
}

/* FONTS */
h1 {
    font-family: 'Hurricane', cursive;
    font-size: 5em;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 3em;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

li {
    padding: 15px;
}

/* RESPONSIVE */

/*style petites-moyennes tablettes */
@media only screen and (min-width: 800px) and (max-width: 966px){
img {
    width: 100%;
    height: 100%;
}

.text-vebole {
    margin-left: unset;
    padding: 10px;
}

footer {
    height: 360px;
}

.logo {
    padding-top: 100px;
}

.small-logo {
    width: 300px;
}

.gotop {
    bottom: 230px;
    width: 50px;
    height: 50px;
}

.gotop>i {
    font-size: 30px;
    margin-left: 11px;
    margin-top: 10px;
}

.img-ghandi {
    height: 650px;
}

.text-samurai {
    width: 100%;
}

.text-histoire {
    width: 50%;
}

.img-samurai {
    width: 50%;
}

.img-pastille-text {
    width: 100%;
}

.img-pastille {
    width: 40%;
}

.text-pastille {
    width: 60%;
}

li {
    padding: unset;
    margin-left: 15px;
}

}

/*style smartphones et petites tablettes en portrait*/
@media only screen and (min-width: 321px) and (max-width: 799px){
img {
        width: 100%;
        height: 100%;
}

.img-carousel>img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.more-soutien {
margin-bottom: 5px;    
}

}

  